In [1]:
import pandas as pd

import numpy as np

In [2]:
df=pd.read_csv('screener_companies.csv',usecols=range(1,4))

In [3]:
df.head(2)

,company name,company_url,screener url
0,RELIANCE,/company/RELIANCE/consolidated/,https://www.screener.in/company/RELIANCE/conso...
1,TCS,/company/TCS/consolidated/,https://www.screener.in/company/TCS/consolidated/

In [4]:
def is_company(name):
  try :
    int(name)

    return False
  except:
    return True

In [5]:
is_company('12')

False

In [6]:
df['is_company']=df['company name'].apply(is_company)

In [7]:
not_companies=df[df['is_company']==False]['screener url']

In [8]:
url_arr=np.array(not_companies)

In [9]:
url_arr[0]

'https://www.screener.in/company/543482/consolidated/'

In [13]:
import requests
from bs4 import BeautifulSoup

In [16]:
requests.get(url_arr[0])

In [22]:

c_count=0
for i in url_arr[:3]:
  name=BeautifulSoup(requests.get(i).content,'html.parser').find_all('span')[1].text.strip()
  print(name)

Eureka Forbes
National Standar
Kama Holdings

In [34]:
trial_url=url_arr[:10]

In [35]:
from bs4 import BeautifulSoup as B
c_arr=[]
import requests
for i in range(len(trial_url)):

    name=B(requests.get(trial_url[i]).content,'html.parser').find_all('h1')[0].text.strip()
    c_arr.append(name)
    print(i,name,sep=' ')

0 Eureka Forbes Ltd
1 National Standard (India) Ltd
2 Kama Holdings Ltd
3 India Infrastructure Trust
4 Authum Investment & Infrastructure Ltd
5 Bengal & Assam Company Ltd
6 Sindhu Trade Links Ltd
7 Sandur Manganese & Iron Ores Ltd
8 WPIL Ltd
9 Magellanic Cloud Ltd

In [38]:
len(trial_url)

10

In [39]:
len(c_arr)

10

In [40]:
df_num=df[df['is_company']==False]

In [43]:
df_num=df_num.iloc[:10,:]

In [44]:
df_num.shape

(10, 4)

In [45]:
num_name=np.array(c_arr)

In [46]:
df_num['company']=num_name

In [47]:
df_num

,company name,company_url,screener url,is_company,company
341,543482,/company/543482/consolidated/,https://www.screener.in/company/543482/consoli...,False,Eureka Forbes Ltd
369,504882,/company/504882/,https://www.screener.in/company/504882/,False,National Standard (India) Ltd
421,532468,/company/532468/consolidated/,https://www.screener.in/company/532468/consoli...,False,Kama Holdings Ltd
471,542543,/company/542543/consolidated/,https://www.screener.in/company/542543/consoli...,False,India Infrastructure Trust
509,539177,/company/539177/consolidated/,https://www.screener.in/company/539177/consoli...,False,Authum Investment & Infrastructure Ltd
530,533095,/company/533095/consolidated/,https://www.screener.in/company/533095/consoli...,False,Bengal & Assam Company Ltd
642,532029,/company/532029/consolidated/,https://www.screener.in/company/532029/consoli...,False,Sindhu Trade Links Ltd
655,504918,/company/504918/,https://www.screener.in/company/504918/,False,Sandur Manganese & Iron Ores Ltd
718,505872,/company/505872/consolidated/,https://www.screener.in/company/505872/consoli...,False,WPIL Ltd
732,538891,/company/538891/consolidated/,https://www.screener.in/company/538891/consoli...,False,Magellanic Cloud Ltd

In [48]:
df_num[df_num['company name']=='511539']['screener url']

Series([], Name: screener url, dtype: object)

In [49]:
df_normal=df[df['is_company']==True]

In [50]:
df_normal

,company name,company_url,screener url,is_company
0,RELIANCE,/company/RELIANCE/consolidated/,https://www.screener.in/company/RELIANCE/conso...,True
1,TCS,/company/TCS/consolidated/,https://www.screener.in/company/TCS/consolidated/,True
2,HDFCBANK,/company/HDFCBANK/consolidated/,https://www.screener.in/company/HDFCBANK/conso...,True
3,ICICIBANK,/company/ICICIBANK/consolidated/,https://www.screener.in/company/ICICIBANK/cons...,True
4,HINDUNILVR,/company/HINDUNILVR/consolidated/,https://www.screener.in/company/HINDUNILVR/con...,True
...,...,...,...,...
4217,RAJVIR,/company/RAJVIR/,https://www.screener.in/company/RAJVIR/,True
4253,SSLFINANCE,/company/SSLFINANCE/,https://www.screener.in/company/SSLFINANCE/,True
4269,MADHURFOOD,/company/MADHURFOOD/,https://www.screener.in/company/MADHURFOOD/,True
4283,GALPOWTEL,/company/GALPOWTEL/,https://www.screener.in/company/GALPOWTEL/,True
4288,TMTINDIA,/company/TMTINDIA/,https://www.screener.in/company/TMTINDIA/,True

In [51]:
df_normal['company']=df_normal[['company name']]

C:\Users\Shubham\AppData\Local\Temp\ipykernel_1912\678516114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_normal['company']=df_normal[['company name']]

In [52]:
df_normal

,company name,company_url,screener url,is_company,company
0,RELIANCE,/company/RELIANCE/consolidated/,https://www.screener.in/company/RELIANCE/conso...,True,RELIANCE
1,TCS,/company/TCS/consolidated/,https://www.screener.in/company/TCS/consolidated/,True,TCS
2,HDFCBANK,/company/HDFCBANK/consolidated/,https://www.screener.in/company/HDFCBANK/conso...,True,HDFCBANK
3,ICICIBANK,/company/ICICIBANK/consolidated/,https://www.screener.in/company/ICICIBANK/cons...,True,ICICIBANK
4,HINDUNILVR,/company/HINDUNILVR/consolidated/,https://www.screener.in/company/HINDUNILVR/con...,True,HINDUNILVR
...,...,...,...,...,...
4217,RAJVIR,/company/RAJVIR/,https://www.screener.in/company/RAJVIR/,True,RAJVIR
4253,SSLFINANCE,/company/SSLFINANCE/,https://www.screener.in/company/SSLFINANCE/,True,SSLFINANCE
4269,MADHURFOOD,/company/MADHURFOOD/,https://www.screener.in/company/MADHURFOOD/,True,MADHURFOOD
4283,GALPOWTEL,/company/GALPOWTEL/,https://www.screener.in/company/GALPOWTEL/,True,GALPOWTEL
4288,TMTINDIA,/company/TMTINDIA/,https://www.screener.in/company/TMTINDIA/,True,TMTINDIA

In [53]:
df_final=df_normal.append(df_num)

C:\Users\Shubham\AppData\Local\Temp\ipykernel_1912\3789315701.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final=df_normal.append(df_num)

In [54]:
df_final.shape

(2320, 5)

In [55]:
df.shape

(4295, 4)

In [56]:
df_final=df_final.reset_index(drop=True)

In [57]:
df_final.drop(['is_company'],axis=1)

,company name,company_url,screener url,company
0,RELIANCE,/company/RELIANCE/consolidated/,https://www.screener.in/company/RELIANCE/conso...,RELIANCE
1,TCS,/company/TCS/consolidated/,https://www.screener.in/company/TCS/consolidated/,TCS
2,HDFCBANK,/company/HDFCBANK/consolidated/,https://www.screener.in/company/HDFCBANK/conso...,HDFCBANK
3,ICICIBANK,/company/ICICIBANK/consolidated/,https://www.screener.in/company/ICICIBANK/cons...,ICICIBANK
4,HINDUNILVR,/company/HINDUNILVR/consolidated/,https://www.screener.in/company/HINDUNILVR/con...,HINDUNILVR
...,...,...,...,...
2315,533095,/company/533095/consolidated/,https://www.screener.in/company/533095/consoli...,Bengal & Assam Company Ltd
2316,532029,/company/532029/consolidated/,https://www.screener.in/company/532029/consoli...,Sindhu Trade Links Ltd
2317,504918,/company/504918/,https://www.screener.in/company/504918/,Sandur Manganese & Iron Ores Ltd
2318,505872,/company/505872/consolidated/,https://www.screener.in/company/505872/consoli...,WPIL Ltd
2319,538891,/company/538891/consolidated/,https://www.screener.in/company/538891/consoli...,Magellanic Cloud Ltd

In [58]:
df_store=df_final[['company','company_url','screener url']]

In [59]:
df_store.to_csv('companies_data.csv')