In [1]:
import pandas as pd
import requests
import numpy as np

In [2]:

# URL of the website containing the table
url = 'https://www.screener.in/company/FEDERALBNK/consolidated/'

# Read HTML tables into a list of DataFrame objects
dfs = pd.read_html(url)




# Print the extracted DataFrame

In [5]:
len(dfs)

11

In [3]:
quaterly_results=dfs[0]

In [4]:
quaterly_results

,Unnamed: 0,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023
0,Revenue,3572,3622,3604,3516,3525,3566,3604,3686,3843,4259,4698,5012,5350
1,Interest,2197,2159,2076,2003,2000,1959,1970,2030,2104,2349,2585,2938,3255
2,Expenses +,1305,1493,1444,1333,1562,1445,1431,1363,1351,1541,1544,1574,1634
3,Financing Profit,70,-30,85,180,-37,162,203,294,388,369,569,500,461
4,Financing Margin %,2%,-1%,2%,5%,-1%,5%,6%,8%,10%,9%,12%,10%,9%
5,Other Income +,483,449,478,493,524,494,521,484,475,628,565,768,741
6,Depreciation,-0,-0,-0,-0,-0,-0,-0,-0,-0,-0,-0,-0,-0
7,Profit before tax,554,419,563,673,487,657,725,778,863,997,1134,1269,1202
8,Tax %,26%,25%,25%,26%,27%,26%,25%,25%,26%,26%,25%,26%,26%
9,Net Profit +,413,317,422,527,361,493,544,599,645,745,856,964,894
10,EPS in Rs,2.05,1.58,2.10,2.61,1.79,2.31,2.57,2.79,3.02,3.48,3.99,4.51,4.16
11,Gross NPA %,2.94%,2.80%,2.67%,3.35%,3.51%,3.22%,3.10%,2.78%,2.67%,2.45%,2.42%,2.35%,2.37%
12,Net NPA %,1.23%,0.99%,0.61%,1.18%,1.28%,1.15%,1.11%,0.98%,0.96%,0.82%,0.77%,0.73%,0.74%
13,Raw PDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
profit_loss=dfs[1]

In [ ]:
compound_sales_growth=dfs[2]

In [ ]:
compound_profit_growth=dfs[3]

In [ ]:
stock_price_cagr=dfs[4]

In [ ]:
return_on_equity=dfs[5]

In [ ]:
balance_sheet=dfs[6]

In [ ]:
cash_flow=dfs[7]

In [ ]:
ROE=dfs[8]

In [ ]:
shareholding_quarterly=dfs[9]

In [ ]:
sharehoding_yearly=dfs[10]

In [ ]:
json_data = balance_sheet.to_json(orient='records')

In [ ]:
json_data

'[{"Unnamed: 0":"Share Capital\\u00a0+","Mar 2012":171,"Mar 2013":171,"Mar 2014":171,"Mar 2015":171,"Mar 2016":344,"Mar 2017":345,"Mar 2018":394,"Mar 2019":397,"Mar 2020":399,"Mar 2021":399,"Mar 2022":421,"Mar 2023":null},{"Unnamed: 0":"Reserves","Mar 2012":5421,"Mar 2013":6093,"Mar 2014":6690,"Mar 2015":7529,"Mar 2016":7720,"Mar 2017":8607,"Mar 2018":11880,"Mar 2019":13101,"Mar 2020":14424,"Mar 2021":16105,"Mar 2022":18835,"Mar 2023":null},{"Unnamed: 0":"Borrowings\\u00a0+","Mar 2012":53201,"Mar 2013":62850,"Mar 2014":65497,"Mar 2015":73216,"Mar 2016":84407,"Mar 2017":104008,"Mar 2018":124299,"Mar 2019":143585,"Mar 2020":164780,"Mar 2021":184457,"Mar 2022":201265,"Mar 2023":null},{"Unnamed: 0":"Other Liabilities\\u00a0+","Mar 2012":1751,"Mar 2013":1879,"Mar 2014":2286,"Mar 2015":1993,"Mar 2016":2234,"Mar 2017":2527,"Mar 2018":2640,"Mar 2019":3469,"Mar 2020":3751,"Mar 2021":4006,"Mar 2022":5721,"Mar 2023":null},{"Unnamed: 0":"Total Liabilities","Mar 2012":60544,"Mar 2013":70993,"Mar 2014":74643,"Mar 2015":82909,"Mar 2016":94706,"Mar 2017":115486,"Mar 2018":139214,"Mar 2019":160552,"Mar 2020":183353,"Mar 2021":204967,"Mar 2022":226241,"Mar 2023":null},{"Unnamed: 0":"Fixed Assets\\u00a0+","Mar 2012":337,"Mar 2013":412,"Mar 2014":414,"Mar 2015":446,"Mar 2016":508,"Mar 2017":477,"Mar 2018":452,"Mar 2019":462,"Mar 2020":477,"Mar 2021":504,"Mar 2022":643,"Mar 2023":null},{"Unnamed: 0":"CWIP","Mar 2012":0,"Mar 2013":2,"Mar 2014":23,"Mar 2015":27,"Mar 2016":16,"Mar 2017":15,"Mar 2018":10,"Mar 2019":18,"Mar 2020":28,"Mar 2021":13,"Mar 2022":29,"Mar 2023":null},{"Unnamed: 0":"Investments","Mar 2012":17102,"Mar 2013":20854,"Mar 2014":23839,"Mar 2015":20349,"Mar 2016":24920,"Mar 2017":27912,"Mar 2018":30595,"Mar 2019":31676,"Mar 2020":35715,"Mar 2021":36732,"Mar 2022":39065,"Mar 2023":null},{"Unnamed: 0":"Other Assets\\u00a0+","Mar 2012":43105,"Mar 2013":49724,"Mar 2014":50368,"Mar 2015":62087,"Mar 2016":69262,"Mar 2017":87081,"Mar 2018":108158,"Mar 2019":128397,"Mar 2020":147133,"Mar 2021":167717,"Mar 2022":186504,"Mar 2023":null},{"Unnamed: 0":"Total Assets","Mar 2012":60544,"Mar 2013":70993,"Mar 2014":74643,"Mar 2015":82909,"Mar 2016":94706,"Mar 2017":115486,"Mar 2018":139214,"Mar 2019":160552,"Mar 2020":183353,"Mar 2021":204967,"Mar 2022":226241,"Mar 2023":null}]'